<!DOCTYPE html>
<html>

<head>
    <!-- Use the 'title' property to render a page title  -->
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="css/display.css" />

</head>

<body>
        <h2>Hello <%=email %>
        </h2>
            <a href="/signin">Signin</a>
            <a href="/signout">Sign out</a>
</body>

</html>