<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1> Thank you for registering!</h1>
    <h3> <a class="nav-link" href="http://localhost:3000">Back to index</a></h3>
</body>
</html>